@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
}
body {
    font-family: 'Roboto Slab';
    font-size: 1.5rem;
    font-weight: 300;
}
.container {
    width: 100vw;
    height: 100vh;
    /* height: 100vh; */
    /* border: 1px solid red; */
    /* display: flex; */
}
.wrapper {
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(54.91% 167.98% at 19.04% 76.25%, #3c4b26 0%, #87907a 100%);
}

div#contact_form {
    /* border: 5px solid blue; */
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    height: 60%;
    /* padding: 10px; */
    /* column-gap: 20px; */
    border-radius: 20px;
    overflow: hidden;
}

form {
    /* width: 60%; */
    padding: 10px;
    background-color: white;
}
div.input-box {
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
}
div.input-box label {
    display: inline-block;
    margin: 10px 10px 10px 0;
    width: 20%;
}
div.input-box input {
    font-size: 1.5rem;
    border: 1px solid #ccc;
    padding: 4px 8px;
    flex: 1;
}
input.button {
    font-size: 1.5rem;
    background: #5a4b37;
    color: white;
    /* border: 1px solid black; */
    margin: 10px;
    padding: 4px 40px;
}

h1 {
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'Passion One';
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 0.8;
}
div.greetings {
    display: flex;
    text-align: center;
    font-size: 1.2rem;
    background-color: #d3d3d3;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 50px; */
    justify-content: center;
    /* align-items: center; */
}
.greetings .text {
    padding-top: 20px;
    color: white;
    width: 80%;
    /* border: 1px solid red; */
    row-gap: 20px;
}
div.input-box input.error {
    border: 2px dashed red;
    background: #fee;
}
div.input-box label.error {
    color: red;
    font-size: 1rem;
    text-align: right;
    width: 100%;
    margin: 10px 0;
}
